.login {
  background: url('//s2.music.126.net/style/web2/img/index/index.png?e2e66894606115d89f1bf442d2b1f7b1')
    no-repeat;
  background-position: 0 0;
  height: 147px;
  background-size: 166%;
  padding: 30px;
  color: #666666;
  font-size: 14px;

  // border-bottom: 1px solid #b1b1b1;
  .login-btn {
    width: 100px;
    height: 31px;
    margin: auto;
    margin-top: 20px;
  }
}
