.item-tit {
  padding: 20px;
  color: var(--text-color);
  &>div {
    height     : 35px;
    border-bottom: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    line-height: 35px;
    i{
      color: var(--main-color);
      font-size: 20px;
      margin-right: 10px;
    }
    .title-text{
      font-size: 20px;
    }
  }
}