.content-main {
  border: 1px solid var(--boder-color);
  background-color: #fff;
  display: flex;
  .left-contet {
    width: 70%;
    border-right: 1px solid var(--boder-color);
  }
  .right-content {
    width: 30%;
  }
}
body {
  background-color: var(--bg-color);
}

@media (max-width: 900px) {
  .content-main {
    border: 1px solid var(--boder-color);
    background-color: #fff;
    display: block;
    .left-contet {
      width: 100%;
    }
    .right-content {
      width: 100%;
    }
  }
}
