<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- 强制QQ浏览器竖屏 -->
  <meta name="x5-orientation" content="portrait">

  <!-- 强制QQ浏览器全屏 -->
  <meta name="x5-fullscreen" content="true">

  <!-- 开启QQ浏览器应用模式 -->
  <meta name="x5-page-mode" content="app">

  <!-- 强制UC浏览器竖屏 -->
  <meta name="screen-orientation" content="portrait">

  <!-- 强制UC浏览器全屏 -->
  <meta name="full-screen" content="yes">

  <!-- 开启UC浏览器应用模式 -->
  <meta name="browsermode" content="application">

  <!-- 开启360浏览器极速模式 -->
  <meta name="renderer" content="webkit">

  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>live music</title>
  <link rel="icon" type="image/x-icon" href="//photo.tuituisoft.com/picgo/20210104113130.png" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body ontouchstart>
  <div id="root"></div>
</body>
</html>