.nav-bar {
  height: 70px;
  background-color: var(--navBg-color);
  color: #fff;
  line-height: 70px;

  .content {
    height: 100%;
    width: var(--header-width);
    margin: 0 auto;
    display: flex;
  }

  .nav-list {
    display: flex;
    flex: 1;
    .list-item {
      padding: 0 20px;
      cursor: pointer;

      &:hover {
        background-color: #000000;
      }
    }

    .active {
      background-color: #000000;
    }
  }

  .log-box {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;

    a {
    }

    img {
      height: 60px;
      margin-right: 15px;
    }
  }

  .right-box {
    // flex       : 1;
    display: flex;
    align-items: center;

    .search-box {
      height: 32px;
      width: 170px;
      background-color: #fff;
      border-radius: 16px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      i {
        width: 20px;
        font-size: 20px;
        color: #000;
      }

      input {
        border: none;
        color: #000;
        width: calc(100% - 20px);
      }
    }

    .create-box {
      height: 32px;
      border-radius: 16px;
      width: 100px;
      border: 1px solid #c1c1c1;
      color: #c1c1c1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        border: 1px solid #fff;
        color: #fff;
      }
    }

    .user {
      width: 100px;
    }

    .login-bar {
      color: #787878;
      cursor: pointer;
      transition: 0.3s;
      text-align: center;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }

    .user-data {
      text-align: center;
      cursor: pointer;
      position: relative;

      &:hover .detail-list {
        display: flex;
      }

      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
      }
    }
  }
}

.detail-list {
  position: absolute;
  height: 242px;
  width: 160px;
  // background-color: #fff;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: #2b2b2b;
  border-radius: 4px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  // display            : flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 30px;
  text-align: left;
  padding: 10px;
  display: none;

  .icon-bg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .list-item {
    // line-height: 30px;
    display: flex;
    color: #cccccc;
    align-items: center;
    user-select: none;

    &:hover {
      color: #fff;
    }
  }
}

.icon-bg {
  background: url('//s2.music.126.net/style/web2/img/frame/toplist.png?532ec5688fe7a7f74359cfacc24190b4')
    no-repeat 0 9999px;
}

:root {
  --navBg-color: #242424;
}
