.nav-bar {
  height          : 70px;
  background-color: var(--navBg-color);
  color: #fff;
  line-height: 70px;
  .content {
    height   : 100%;
    width: var(--header-width);
    margin: 0 auto;
  }
  .nav-list{
    display: flex;
    .list-item{
      padding: 0 20px;
      cursor: pointer;
      &:hover{
        background-color: #000000;
      }
    }
    .active{
      background-color: #000000;
    }
  }
  .log-box{
    
  }


}




:root {
  --navBg-color: #242424;
}
