/* @import './assets/css/iconfont.css'; */
@import './assets/css/normalize.css';
@import './assets/css/public.css';
@import '//at.alicdn.com/t/font_2074202_ycuh0dquai.css';

.click {
  user-select: none;
  cursor: pointer;
}

:root {
  --main-color: #c20c0c;
  --content-width: 980px;
  --header-width: 1100px;
  --text-color: #333;
  --boder-color: #d3d3d3;
  --bg-color: #f5f5f5;
}
.content-box {
  width: var(--content-width);
  margin: 0 auto;
}

.fill {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.text-row-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-row-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /*这个决定行数*/
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.btn-main {
  background-color: #e41820;
  /* background-color: var(--main-color); */
  color: #fff;
  border-radius: 4px;
}
.click {
  cursor: pointer;
}
.click:hover,
.btn:hover {
  opacity: 0.8;
}
input,
button {
  outline: none;
}
button {
  border: none;
}
.page-content {
  border: 1px solid var(--boder-color);
  background-color: #fff;
  /* height: 100%; */
  min-height: calc(100vh - 70px - 173px);
}
ul,
li {
  list-style: none;
}



/* 设置滚动条宽度 */
.public-scrolll::-webkit-scrollbar {
  width: 5px;
  background-color: #FFf;

}
/* 设置中间的小快 */

.public-scrolll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eee;
}
/* 设置滚动区背景 */
.public-scrolll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #FFf;
}

.auto-img{
  width: 100%;
  height: 100%;
  display: block;
}
.underline{
  cursor: pointer;
  /* user-select: none; */
  
}
.underline:hover{
  text-decoration: underline;
}