// .new-dvd {
//   .content {
//     height: 200px;
//     background-color: #f5f5f5;
//     margin: 20px;
//     margin-top: 0;
//     border: 1px solid #d3d3d3;
//     padding: 20px 10px;
//     .listwarp {
//       overflow: hidden;
//     }
//     .listbox {
//       display: flex;
//       padding-right: 20px;
//     }
//     .dvd-item {
//       // display: inline-block;
//       height: 150px;
//       width: 118px;
//       margin-right: 5px;
//     }
//   }
// }

.singer {
  color: #666666;
  font-size: 14px;
}
.bg {
  background: url('//s2.music.126.net/style/web2/img/coverall.png?0e581bbff2aa587838e4a8324237b468')
    no-repeat 0 9999px;
  background-position: calc(7% - 2px) calc(75% + 3px);
  background-size: 198%;
  padding-right: calc(17% - 1px);
  cursor: pointer;
}
